/*=================================================================================================================*/
/*============================================== Call Out Styles =======================================*/
/*=================================================================================================================*/
#calloutContainer {
    height: 0;
    width: 100%;
    overflow: hidden;
}

.actionMenu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    border: solid 1px #cccccc;
    border-radius: 7px;
    padding: 5px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.actionMenu li {
    width: 160px;
    height: 35px;
}

.actionMenu button {
    width: 100%;
    height: 100%;
    font-size: var(--fs-small);
    display: flex;
    align-items: center;
    gap: 17px;
    color: red;
}

.actionMenu button:hover {
    background-color: #f0f0f0;
}

/*=================================================================================================================*/
/*============================================== Sidebar nav styles ==============================================*/
/*=================================================================================================================*/
#sidebarNav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
    max-width: 500px;
    height: 100vh;
    border-right: solid 1px #cccccc;
}

/*============================================== sidebar resize Draggable ==============================================*/
#sidebarResizeDraggable {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    cursor: col-resize;
}

#sidebarResizeDraggable:hover {
    border: solid #cccccc;
}

/*============================================= Sidebar Control container =============================================*/
#sidebarNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#sidebarNavHeader>* {
    padding: 0 0 0 12px;
}

#sidebarNavToggler {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#sidebarNavToggler:hover {
    color: #1175d3;
}

#sidebarNavToggler:hover path {
    stroke: #1175d3;
    fill: #1175d3;
}

/*============================================= Task Tab =============================================*/
#sidebarNavBody {
    flex: 1;
}

#searchButton {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 36px;
    padding: 0 0 0 12px;
    margin: 10px 12px 0 12px;
    border-radius: 7px;
}

#searchButton:hover {
    background-color: #f0f0f0;
}

#defaultListsContainer {
    padding-bottom: 12px;
    margin: 0 0 15px 0;
    border-bottom: solid 1px #cccccc;
}

#customListsContainer {
    margin: 20px 0 0 0;
    max-height: 600px;
}

.taskTabContainer li {
    height: 36px;
    border-radius: 7px;
}

.taskTabContainer {
    padding: 0 12px;
}

.taskTabContainer li a {
    height: 100%;
    width: 100%;
    padding: 0 0 0 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.taskTabContainer li:hover {
    background-color: #f0f0f0;
}

.activeTaskTab {
    background-color: #e6f0ff;
}

#customListSection small {
    margin: 20px;
}

#newListInputContainer {
    display: flex;
    align-items: center;
    padding: 0 0 0 12px;
    margin: 10px 12px 0 12px;
    height: 36px;
    border-radius: 7px;
}

#newListInputContainer:hover,
#newListInputContainer:hover input {
    background-color: #f0f0f0;
}

#newListInputContainer input {
    padding: 0 0 0 22px;
    height: 100%;
    width: 100%;
    border: none;
    font-size: var(--fs-normal);
    border-radius: 7px;
}

#newListInputContainer input::placeholder {
    color: #1175d3;
}

#newListInputContainer input:focus {
    outline: none;
    border-color: transparent;
}

/*============================================= User profile controls =============================================*/
#sidebarNavFooter {
    padding: 8px 12px;
}

#profileControlsButton {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 7px;
}

#profileControlsButton:hover {
    background-color: #f0f0f0;
}

/*=================================================================================================================*/
/*============================================== Main Styles ======================================================*/
/*=================================================================================================================*/
main {
    height: 100vh;
    display: flex;
}

#main {
    display: flex;
    flex-direction: column;
    float: right;
    flex-grow: 1;
    height: 100%;
}

#mainTaskAppHeader {
    height: 60px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

#mainTaskAppHeaderLeft {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#mainTaskAppHeaderLeft h2 {
    font-size: var(--fs-h2);
    cursor: pointer;
}

#listOptionsButton {
    border-radius: 7px;
}

#listOptionsButton:hover {
    background-color: #f0f0f0;
}

#sortingOptionsButton {
    border-radius: 7px;
    padding: 0 5px;
}

#sortingOptionsButton:hover {
    background-color: #f0f0f0;
}

#mainBackground {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#createTask {
    padding: 0 15px;
}

#createTaskInputContainer {
    width: 100%;
    border: solid 1px #cccccc;
    border-radius: 7px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 0 8px 0;
}

#createTaskInputIcon {
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createTaskInput {
    width: 98%;
    border: none;
    padding: 10px;
    flex-grow: 1;
    font-size: var(--fs-normal);
}

.createTaskInput::placeholder {
    color: #1175d3;
}

.createTaskInput:focus {
    outline: none;
    border-color: transparent;
}

/*=================================================================================================================*/
/*============================================== Task List Styles =================================================*/
/*=================================================================================================================*/
.task-list {
    padding: 0 15px;
    max-height: calc(100vh - 122px);
    overflow-y: overlay;
}

.task-list__completed-header {
    height: 50px;
    padding: 0 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-list__completed {
    overflow: hidden;
}

.task-list__toggle-completed-icon {
    transition: 0.2s;
}

.collapsed {
    height: 0px;
}


/*=================================================================================================================*/
/*============================================== Task Container Styles ============================================*/
/*=================================================================================================================*/
.taskContainer {
    width: 100%;
    border: solid 1px #cccccc;
    border-radius: 7px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 0 8px 0;
    cursor: pointer;
}

.taskContainer:hover {
    background-color: #e4e4e4;
}

.taskBody {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.taskBodyTitle {
    margin-left: 8px;
    height: fit-content;
    font-size: var(--fs-normal);
    cursor: pointer;
}

.updateTaskTitleInput {
    display: none;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: inherit;
    font-size: var(--fs-normal);
}

.updateTaskTitleInput::placeholder {
    color: black;
}

.updateTaskTitleInput:focus {
    outline: none;
    border-color: transparent;
}

.taskContainer button {
    width: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incompleteTaskButtonTickSvg {
    display: none;
}

.updateTaskStatusButton:hover .incompleteTaskButtonTickSvg {
    display: block;
}

/*=================================================================================================================*/
/*============================================== Detail styles ====================================================*/
/*=================================================================================================================*/
/* Task details styles*/
.detail {
    display: none;
    border-left: solid 1px #cccccc;
    width: 370px;
    padding: 20px 16px 0 16px;
    flex-direction: column;
}

/* Task details Header*/
.detail__header {
    border: solid 1px #cccccc;
    border-radius: 7px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.detail__header button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__body {
    flex: 1;
}

.detail__header-title {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.detail__header-title__text {
    margin-left: 8px;
    height: fit-content;
    font-size: var(--fs-normal);
    cursor: pointer;
}

.detail__header-title__input {
    display: none;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: inherit;
    font-size: var(--fs-normal);
}

.detail__header-title__input::placeholder {
    color: black;
}

.detail__header-title__input:focus {
    outline: none;
    border-color: transparent;
}

/* Task details Footer*/
.detail__footer {
    border-top: solid 1px #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

#taskCreatedOnDisplay {
    font-size: var(--fs-small);
}

.detail__footer button {
    border-radius: 7px;
    padding: 3px;
}

.detail__footer button:hover {
    background-color: #f0f0f0;
}

#taskNotesTextAreaContainer {
    border: solid 1px #cccccc;
    border-radius: 7px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#taskNotesTextArea {
    width: 100%;
    padding: 10px 16px;
    resize: none;
    border: none;
    border-radius: 7px;
    font-size: var(--fs-normal);
}

#taskNotesTextArea:focus {
    outline: none;
    border-color: transparent;
}


/*=================================================================================================================*/
/*============================================== Search ======================================================*/
/*=================================================================================================================*/
.search-result {
    flex-grow: 1;
    overflow-y: overlay;
    padding: 8px 0 0 0;
}

.search-results__task-list {
    max-height: calc(100vh - 68px);
}

#searchInputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: solid #1175d3;
}

#searchInput {
    flex: 1;
    font-size: var(--fs-h4);
    height: 100%;
    border: none;
}

#searchInput:focus {
    outline: none;
    border-color: transparent;
}


/*=================================================================================================================*/
/*============================================== Custom Task List Styles ======================================================*/
/*=================================================================================================================*/
#updateCustomListNameInput {
    display: none;
    padding: 6px 8px;
    font-size: var(--fs-h2);
    border: solid 1px;
    border-radius: 7px;
}