body{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.settings-modal{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 50%;
    border-radius: 7px;
    background-color: white;
}
.settings-modal__sidebar{
    height: 100%;
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 7px 0 0 7px;
}
.settings-modal__sidebar-header{
    padding: 12px 8px;
}
.settings-modal__sidebar-header h1{
    font-size: var(--fs-normal);
}

.settings-modal__sidebar-item{
    height: 32px;
    border-radius: 7px;
    margin-bottom: 4px;
}
.active{
    background-color: var(--bg-active);
}
.settings-modal__sidebar-item>a{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: inherit;
    font-size: var(--fs-small);
}

.settings-modal__main-header{
    padding: 12px 8px;
    display: flex;
    justify-content: end;
}

.settings-modal__main-body{
    flex: 1;
}
.hidden{
    display: none !important;
}
.settings-modal__main-body-content{
    width: 100%;
    height: 100%;
}

.tab__body{
    padding: 0 8px;
    flex: 1;
}

.field-label{
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-normal);
    margin-bottom: 5px;
}

.user-credential__username-input{
    height: 30px;
    padding: 8px  12px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    font-size: var(--fs-small);
}
.user-credential__username-input:focus {
    outline: none;
    border-color:  1px solid #cccccc;
}

.user-credential__email-content{
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-small);
}
.user-credential__button{
    height: 32px;
    padding: 0 12px;
    border-radius: 7px;
    font-size: var(--fs-small);
    background-color: #f0f0f0;
}
.tab__footer{
    height: 56px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 0 8px;
    border-top: 1px solid #cccccc;
}

.footer__button--cancle,  .footer__button--save{
    height: 32px;
    padding: 0 12px;
    border-radius: 7px;
    font-size: var(--fs-small);
}

.footer__button--cancle{
    background-color: #f0f0f0;
}
.footer__button--save{
    background-color: #1175d3;
    color: white;
}


.change-password__input-group label{
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-small);
    margin-bottom: 5px;
}
.change-password__input-group input{
    height: 32px;
    width: 50%;
    padding: 0 12px;
    font-size: var(--fs-small);
    border:  1px solid #cccccc;
    border-radius: 7px;

}
.change-password__input-group input:focus{
    outline: none;
    border-color:#cccccc;
}
.tab-change-password__footer-button-save:disabled{
    background-color: #94a7c0; 
    color: #d1d1d1; 
    cursor: not-allowed; 
}
.change-password__warning-text{
    color: red;
    font-size: var(--fs-small);
}

.switch{
    width: 36px;
}
.switch-thumb{
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 50%;
}