/*============================================== Sidebar styles ==============================================*/
#sidebarNav {
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
  width: 300px;
  min-width: 200px;
  max-width: 500px;
  height: 100vh;
  border-right: solid 1px #cccccc;
}
/*============================================== sidebar resize Draggable ==============================================*/
#sidebarResizeDraggable{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    cursor: col-resize;
}
#sidebarResizeDraggable:hover{
    border: solid #cccccc;
}
/*============================================= Sidebar Control container =============================================*/
#sidebarNavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
#sidebarNavHeader > *{
    padding: 0 0 0 12px;
}
#sidebarNavToggler {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  #sidebarNavToggler:hover {
    color: #1175d3;
  }
  
  #sidebarNavToggler:hover path {
    stroke: #1175d3;
    fill: #1175d3;
  }
/*============================================= Task Tab =============================================*/
#sidebarNavBody{
    flex: 1;
}
#searchButton{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 36px;
    padding: 0 0 0 12px;
    margin: 10px 12px 0 12px;
    border-radius: 7px;
}
#searchButton:hover{
    background-color: #f0f0f0;
}
#defaultListsContainer {
    padding-bottom: 12px;
  margin: 0 0 15px 0;
  border-bottom: solid 1px #cccccc;
}
#customListsContainer {
    margin: 20px 0 0 0;
    max-height: 600px;
}
.taskTabContainer li {
  height: 36px;
  border-radius: 7px;
}

.taskTabContainer{
    padding: 0 12px;
}
.taskTabContainer li a {
  height: 100%;
  width: 100%;
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.taskTabContainer li:hover{
  background-color: #f0f0f0;
}

.activeTaskTab {
  background-color: #E6F0FF;
}

#customListSection small {
    margin: 20px;
}

#newListInputContainer {
  display: flex;
  align-items: center;
  padding: 0 0 0 12px;
  margin: 10px 12px 0 12px;
  height: 36px;
  border-radius: 7px;
}

#newListInputContainer:hover,
#newListInputContainer:hover input {
  background-color: #f0f0f0;
}

#newListInputContainer input {
  padding: 0 0 0 22px;
  height: 100%;
  width: 100%;
  border: none;
  font-size: var(--fs-normal);
  border-radius: 7px;
}

#newListInputContainer input::placeholder {
  color: #1175d3;
}
#newListInputContainer input:focus {
  outline: none;
  border-color: transparent;
}

/*============================================= User profile controls =============================================*/
#sidebarNavFooter{
    padding: 8px 12px;
}

#profileControlsButton{
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 7px;
}
#profileControlsButton:hover{
    background-color: #f0f0f0;
}