/*========================================================== Root ==========================================================*/
:root{
    --fs-normal: 16px;
    --fs-h1: 32px;
    --fs-h2: 24px; 
    --fs-h3: 20px; 
    --fs-h4: 18px;
    --fs-small: 14px;
    --fw-thin: 100;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

/*========================================================== Styles for warning card ==========================================================*/
#warningCard{
    display: none;
    justify-content: space-between;
    align-items: center;
    color: red;
    background-color: #ffe6e6; 
    border: 1px solid red;
    border-radius: 7px; 
    padding: 20px; 
    margin:0 0 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}






