:root{
    --fs-normal: 16px;
    --fs-h1: 32px;
    --fs-h2: 24px; 
    --fs-h3: 20px; 
    --fs-h4: 18px;
    --fs-small: 14px;
    --fw-thin: 100;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}






