
/* Header styles*/
#taskAppHeader{
    height: 61px;
    display: flex;
    align-items: center; 
    padding: 0 0 0 16px;
    border-bottom: solid 1px #CCCCCC;
}
#taskAppHeader h1{
    font-size: var(--fs-h2);
}