#calloutContainer {
  height: 0;
  width: 100%;
  overflow: hidden;
}

/* Main task app styles*/
#mainTaskAppContainer {
  height: 100vh;
  display: flex;
}

/* List action menu*/
.actionMenu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: solid 1px #cccccc;
  border-radius: 7px;
  padding: 5px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.actionMenu li {
  width: 160px;
  height: 35px;
}

.actionMenu button {
  width: 100%;
  height: 100%;
  font-size: var(--fs-small);
  display: flex;
  align-items: center;
  gap: 17px;
  color: red;
}

.actionMenu button:hover {
  background-color: #f0f0f0;
}

/* Main task app*/
#mainTaskApp {
  display: flex;
  flex-direction: column;
  float: right;
  flex-grow: 1;
  height: 100%;
}

#mainTaskAppHeader {
  height: 60px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

#mainTaskAppHeaderLeft {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

#mainTaskAppHeaderLeft h2 {
  font-size: var(--fs-h2);
  cursor: pointer;
}
#listOptionsButton {
  border-radius: 7px;
}
#listOptionsButton:hover {
  background-color: #f0f0f0;
}
#sortingOptionsButton {
  border-radius: 7px;
  padding: 0 5px;
}

#sortingOptionsButton:hover {
  background-color: #f0f0f0;
}
#tasksContainer {
  flex-grow: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

#createTaskInputContainer {
  width: 100%;
  border: solid 1px #cccccc;
  border-radius: 7px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 0 8px 0;
}

#createTaskInputIcon {
  width: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createTaskInput {
  width: 98%;
  border: none;
  padding: 10px;
  flex-grow: 1;
  font-size: var(--fs-normal);
}

.createTaskInput::placeholder {
  color: #1175d3;
}
.createTaskInput:focus {
  outline: none;
  border-color: transparent;
}
/* Task display styles*/
#taskDisplayContainer {
  height: calc(100vh - 122px);
  overflow-y: overlay;
  flex-grow: 1;
}
#completedTasksSectionHeader {
  height: 50px;
  padding: 0 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  gap: 10px;
}
#completedTaskDisplayContainer {
  overflow: hidden;
}
#openCloseCompletedTasksSectionButtonSvg {
  transition: 0.2s;
}
.collapsed {
  height: 0px;
}
.taskContainer {
  width: 100%;
  border: solid 1px #cccccc;
  border-radius: 7px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 0 8px 0;
  cursor: pointer;
}
.taskContainer:hover {
  background-color: #e4e4e4;
}
.taskBody {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.taskBodyTitle {
  margin-left: 8px;
  height: fit-content;
  font-size: var(--fs-normal);
  cursor: pointer;
}

.updateTaskTitleInput {
  display: none;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: inherit;
  font-size: var(--fs-normal);
}
.updateTaskTitleInput::placeholder {
  color: black;
}
.updateTaskTitleInput:focus {
  outline: none;
  border-color: transparent;
}
.taskContainer button {
  width: 2%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.incompleteTaskButtonTickSvg {
  display: none;
}
.taskCompleteButton:hover .incompleteTaskButtonTickSvg {
  display: block;
}
/* Task details styles*/
#taskDetailsContainer {
  display: none;
  border-left: solid 1px #cccccc;
  width: 370px;
  padding: 20px 16px 0 16px;
  flex-direction: column;
  justify-content: space-between;
}

#taskDetailsHeader {
  border: solid 1px #cccccc;
  border-radius: 7px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
#taskDetailsMarkTaskAsCompleteButton,
#taskDetailsMarkTaskAsImportantButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#taskDetailsTaskBody {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
#taskDetailsTaskBodyTitle {
  margin-left: 8px;
  height: fit-content;
  font-size: var(--fs-normal);
  cursor: pointer;
}
#taskDetailsUpdateTaskTitleInput {
  display: none;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: inherit;
  font-size: var(--fs-normal);
}
#taskDetailsUpdateTaskTitleInput::placeholder {
  color: black;
}
#taskDetailsUpdateTaskTitleInput:focus {
  outline: none;
  border-color: transparent;
}
#taskDetailsFooter {
  border-top: solid 1px #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
#taskCreatedOnDisplay {
  font-size: var(--fs-small);
}
#hideTaskDetailsButton,
#taskDetailsDeleteTaskButton {
  border-radius: 7px;
  padding: 3px;
}
#hideTaskDetailsButton:hover,
#taskDetailsDeleteTaskButton:hover {
  background-color: #f0f0f0;
}
#taskNotesTextAreaContainer {
  border: solid 1px #cccccc;
  border-radius: 7px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#taskNotesTextArea {
  width: 100%;
  padding: 10px 16px;
  resize: none;
  border: none;
  border-radius: 7px;
  font-size: var(--fs-normal);
}
#taskNotesTextArea:focus {
  outline: none;
  border-color: transparent;
}
