
/* Header styles*/
#taskAppHeader{
    height: 61px;
    display: flex;
    align-items: center; 
    padding: 0 0 0 16px;
    border-bottom: solid 1px #CCCCCC;
}
#taskAppHeader h1{
    font-size: var(--fs-h2);
}
/* Tool Bar styles*/
#tasksToolBarContainer{
    padding: 0px 15px;
    height: 40px;
    border-bottom: solid 1px #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainTaskAppSidebarToggler, #tasksToolBarSorting{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
#mainTaskAppSidebarToggler h2, #tasksToolBarSorting h2{
    font-size: var(--fs-normal);
}
#mainTaskAppSidebarToggler:hover, #tasksToolBarSorting:hover{
    color: #1175d3;
}
#mainTaskAppSidebarToggler:hover path, #tasksToolBarSorting:hover path{
    stroke:#1175d3;
    fill:#1175d3;
}


/* Main task app styles*/
#mainTaskAppContainer{
    height: calc(100vh - 48px - 61px - 40px);
    display: flex;
}
/* Main task app styles: Sidebar*/
#mainTaskAppSidebar{
    display: block;
    float: left;
    width: 300px;
    height: 100%;
    border-right: solid 1px #CCCCCC;
}
#defaultTaskTabsContainer{
    margin: 20px 0 15px 0 ;
    padding:0 10px 10px 0 ;
    border-bottom: solid 1px #CCCCCC;
}
.taskTabContainer li{
    height: 45px;
    cursor: pointer;
}
.taskTabContainer li a{
    height: 100%;
    width: 100%;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#defaultTaskTabsContainer li:hover, #createdListTabsContainer li:hover{
    background-color: #F0F0F0;
}
.activeTaskTab{
    background-color: #F0F0F0;
}
#myListsTabContainer small{
    margin:20px;
}
#newListInputContainer{
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    height: 36px;
    margin-top: 10px;
}
#newListInputContainer:hover, #newListInputContainer:hover input{
    background-color: #F0F0F0;
}
#newListInputContainer input{
    padding: 0 0 0 22px;
    height: 100%;
    width: 100%;
    border: none;
    font-size: var(--fs-normal);
}
#newListInputContainer input::placeholder{
    color: #1175d3;
}
#createdListTabsContainer{
    margin: 20px 0 0 0 ;
    padding:0 10px 0 0 ;
}
/* List action menu*/
#listActionsMenu{
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px #CCCCCC;
    border-radius: 7px;
    padding: 5px 0 ;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#listActionsMenu li{
    width: 160px;
    height: 35px;
}
#listActionsMenu button{
    width: 100%;
    height: 100%;
    font-size: var(--fs-small);
    display: flex;
    align-items: center;
    gap: 17px;
    color: red;
}
#listActionsMenu button:hover{
    background-color: #F0F0F0;
}
/* Main task app*/
#mainTaskApp{
    display: flex;
    flex-direction: column;
    float: right;
    flex-grow: 1;
    height: 100%;
}
#mainTaskAppHeaderContainer{
    height: 60px;
}
#mainTaskAppHeader{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 15px 0 15px;
}

#mainTaskAppHeader h2{
    font-size: var(--fs-h2);
    cursor: pointer;
}
#tasksContainer{
    flex-grow: 1;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
#createTaskInputContainer{
    width: 100%;
    border: solid 1px #CCCCCC;
    border-radius: 7px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 0 8px 0 ;
}
#createTaskInputIcon{
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#createTaskInput{
    width: 98%;
    border: none;
    padding: 10px;
    flex-grow: 1;
    font-size: var(--fs-normal);
}
#createTaskInput::placeholder{
    color: #1175d3;
}
/* Task display styles*/
#taskDisplayContainer{
    flex-grow: 1;
    overflow-y: auto;
}
.taskContainer{
    width: 100%;
    border: solid 1px #CCCCCC;
    border-radius: 7px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 0 8px 0 ;
}
.taskBody{
    width: 96%;
    padding: 8px 14px;
    display: flex;
    justify-content: start;
}
.taskBodyTitle{
    font-size: var(--fs-normal);
}
.taskCompleteButton, .markTaskAsImportantButton{
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
