
/* Header styles*/
#taskAppHeader{
    height: 61px;
    display: flex;
    align-items: center; 
    padding: 0 0 0 16px;
    border-bottom: solid 1px #CCCCCC;
}
#taskAppHeader h1{
    font-size: var(--fs-h2);
}
/* Tool Bar styles*/
#tasksToolBarContainer{
    padding: 0px 15px;
    height: 40px;
    border-bottom: solid 1px #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainTaskAppSidebarToggler, #tasksToolBarSorting{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
#mainTaskAppSidebarToggler h2, #tasksToolBarSorting h2{
    font-size: var(--fs-normal);
}
#mainTaskAppSidebarToggler:hover, #tasksToolBarSorting:hover{
    color: #1175d3;
}
#mainTaskAppSidebarToggler:hover path, #tasksToolBarSorting:hover path{
    stroke:#1175d3;
    fill:#1175d3;
}


/* Main task app styles*/
#mainTaskAppContainer{
    height: calc(100vh - 48px - 61px - 40px)
}
/* Main task app styles: Sidebar*/
#mainTaskAppSidebar{
    display: block;
    float: left;
    width: 300px;
    height: 100%;
    border-right: solid 1px #CCCCCC;
}
#defaultTaskTabsContainer{
    margin: 20px 0 15px 0 ;
    padding:0 10px 10px 0 ;
    border-bottom: solid 1px #CCCCCC;
}
.taskTabContainer li{
    height: 36px;
    padding: 0 0 0 20px;
    cursor: pointer;
}
.taskTabContainer li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
#defaultTaskTabsContainer li:hover, #createdListTabsContainer li:hover{
    background-color: #F0F0F0;
}
.activeTaskTab{
    background-color: #F0F0F0;
}
#myListsTabContainer small{
    margin:20px;
}
#newListInputContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0 0 20px;
    height: 36px;
    margin-top: 10px;
}
#newListInputContainer:hover, #newListInputContainer:hover input{
    background-color: #F0F0F0;
}
#newListInputContainer input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: var(--fs-normal);
}
#newListInputContainer input::placeholder{
    color: #1175d3;
}
#createdListTabsContainer{
    margin: 20px 0 0 0 ;
    padding:0 10px 0 0 ;
}
